{% extends "index.html" %}
{% block content %}
  <div id='Estilo'>
    {{ estilo|safe }}
  </div>
  <br>
  <h2 class='Personal'> {{ TituloPagina | safe }} </h2> <br>
  {{ formulario|safe }}
    {% for aparcamientos in seleccionUsuario %}
    <div class="Personal">

      <p class="Personal">{{ aparcamientos|safe }}</p>

    </div>
    {% endfor %}
    <div id ='RSS'>
      <span> Obtener XML de este usuario. <a href='/{{usuario}}/xml'> RSS </a></span>
    </div>
    <hr class="noscreen" />

{% endblock %}
