{% extends "index.html" %}
{% block content %}
  <div id='Estilo'>
    {{ estilo|safe }}
  </div>
  <br>
  <h2 class='Personal'> {{ TituloPagina | safe }} </h2> <br>
  {{ formulario|safe }}
    {% for aparcamientos in seleccionUsuario %}
    <div class="Personal">

      <p class="Personal">{{ aparcamientos|safe }}</p>

    </div>
    {% endfor %}

    <!-- Enlaces A siguiente y Anterior -->
    <div id="enlacesNext">
      {% if parkings.has_previous %}
        <a href="?page={{ parkings.previous_page_number }}"> Anterior</a>
      {% endif %}

      {{ parkings.number }} - {{ parkings.paginator.num_pages }}

      {% if parkings.has_next %}
        <a href="?page={{ parkings.next_page_number }}"> Siguiente</a>
      {% endif %}
    </div>
    <!-- /Enlaces A siguiente y Anterior -->
    <br>

    <div>
      <span> Obtener XML de este usuario.      <a id='RSS' href='/{{usuario}}/xml'> RSS </a></span>
    </div>
    <hr class="noscreen" />

{% endblock %}
